:root{
    --darkgray: rgb(54, 54, 54);
    --mediumgray: rgb(95, 95, 95);

    --undefined-cell: rgb(20, 112, 197);
    --sea-cell: rgb(68, 163, 201);
    /* --near-cell: rgb(68, 163, 201); */
    --near-cell: rgb(92, 209, 218);
    --ship-cell: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button{
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--darkgray);
    color: white;
    font-size: 16px;
}

.title{
    color: white;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: var(--darkgray);
}

body{
    background-color: var(--mediumgray);
    overflow-x: hidden;
    min-width: 270px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    
}
/*#region HEADER*/
.header{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--darkgray);
}
.header .logo-container{
    position: absolute;
    left: 3px;
    top: 3px;
    height: 120%;
    background-color: var(--mediumgray);
    border-radius: 5px;
    cursor: pointer;
}
.header .logo-container img{
    height: 100%;
}

.header .title{
    font-size: 25px;
    padding-top: 5px;
}
/*#endregion*/

/*#region BOARD SETUP CONTAINER*/
.board-setup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    height: 40%;
    min-height: 300px;
}
.board-setup-container .title{
    padding: 5px 0;
}
.board-setup-container .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    width: 600px;
}
.wrapper{
    margin-top: 5px;
    height: 90%;
}
.wrapper .left{
    
}
.wrapper .right{
    width: 35%;
    display: flex;
    flex-direction: column;
}
/* SLIDER */
.slider-container{
    background-color: var(--darkgray);
    color: white;
    margin-bottom: 5px;
    padding: 5px 5px 0 5px;
    border-radius: 10px;
}
.slider-container .slider-label-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slider-label-value .slider-label{
    font-weight: bold;
}
.slider-label-value .value{
    margin-right: 20px;
}
input[type="range"]::-webkit-slider-thumb {
    /* Styles for the slider thumb */
    cursor: pointer; /* Set cursor to pointer on hover */
}

.ships-selector{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 2px;
    gap: 2px;
}
#ship-selected-container{
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 40px;
}
.ship-selected{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 8.55);
    border-radius: 5px;
    background-color: var(--darkgray);
    color: white;
}
.ship-selected .value{
    padding: 2px 0;
}
.ship-selected button{
    padding: 0;
    background-color: rgb(219, 11, 11);
    height: 15px;
    font-size: 12px;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}
#add-ship-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-ship-button{
    width: calc(100%/6.3);
    font-size: 14px;
    padding: 3px;
}

#auto-place-ships-button{
    padding: 5px 0;
}


.board-setup-wrapper{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: auto;
    min-width: 250px;
    width: 96%;
    height: 100%;
}


/*#endregion*/

/*#region BOARD*/
.board{
    display: grid;
    /* background-color: black; */
    border: solid 1px black;
}
.board-cell{
    background-color: lightgreen;
    width: 100%;
    height: 100%;
    border: solid 1px black;
}
.undefined-cell{
    background-color: var(--undefined-cell);
}
.sea-cell{
    background-color: var(--sea-cell);
}
.near-cell{
    background-color: var(--near-cell);
}
.ship-cell{
    background-color: var(--ship-cell);
}
/*#endregion*/


/*#region GAME CONTAINER*/
.game-container{
    width: 100%;
    height: 50%;
    min-height: 400px;
}
.game-container .title{
    padding: 5px 0;
}

.game-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
    gap: 20px;
}
.game-buttons button{
    padding: 5px 10px;
}

.players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 5px 0;
    height: 70%;
}
.player{
    background-color: var(--darkgray);
    height: 90%;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}
.player-name{
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 18px;
}
.board-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 96%;
    height: 100%;
}
.stats{
    margin-top: 3px;
}
.moves{
    
}
.value{
    font-weight: bold;
}

/*#endregion*/

@media (max-width: 768px) {
    .main {
        height: auto;
    }
    .board-setup-container .wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .wrapper .left{
        width: 95%;
        height: 300px;
        margin: auto;
    }
    .wrapper .left .board-setup-wrapper{
        display: flex;
        justify-content: center;
    }
    .wrapper .right{
        width: 95%;
        margin: auto;
    }
    .players{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 95%;
        margin: auto;
    }
    .player{
        min-width: 90%;
        height: 300px;
        min-height: 250px;
    }
    .board-wrapper{
        width: 90%;
        height: 75%;
    }
}

